USE [master]
GO
/****** Object:  Database [EsemkaLibrary]    Script Date: 25/02/2025 16:04:15 ******/
CREATE DATABASE [EsemkaLibrary]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EsemkaLibrary', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\EsemkaLibrary.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EsemkaLibrary_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\EsemkaLibrary_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EsemkaLibrary].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EsemkaLibrary]
GO
/****** Object:  Table [dbo].[Book]    Script Date: 25/02/2025 16:04:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](200) NOT NULL,
	[author] [varchar](200) NOT NULL,
	[publish_date] [date] NULL,
	[stock] [int] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[deleted_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookGenre]    Script Date: 25/02/2025 16:04:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookGenre](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[book_id] [int] NOT NULL,
	[genre_id] [int] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[deleted_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Borrowing]    Script Date: 25/02/2025 16:04:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Borrowing](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[member_id] [int] NOT NULL,
	[book_id] [int] NOT NULL,
	[borrow_date] [datetime] NOT NULL,
	[return_date] [datetime] NULL,
	[fine] [decimal](10, 2) NULL,
	[created_at] [datetime] NOT NULL,
	[deleted_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genre]    Script Date: 25/02/2025 16:04:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genre](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](200) NOT NULL,
	[created_at] [datetime] NOT NULL,
	[deleted_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Member]    Script Date: 25/02/2025 16:04:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Member](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](200) NOT NULL,
	[email] [varchar](200) NOT NULL,
	[created_at] [datetime] NOT NULL,
	[deleted_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Book] ON 

INSERT [dbo].[Book] ([id], [title], [author], [publish_date], [stock], [created_at], [deleted_at]) VALUES (1, N'The Hunger Games Collections', N'Suzanne Collins', NULL, 0, CAST(N'2025-02-25T13:03:17.037' AS DateTime), NULL)
INSERT [dbo].[Book] ([id], [title], [author], [publish_date], [stock], [created_at], [deleted_at]) VALUES (2, N'Harry Potter Collections', N'J.K. Rowling', CAST(N'2003-06-21' AS Date), 5, CAST(N'2025-02-25T13:03:17.037' AS DateTime), NULL)
INSERT [dbo].[Book] ([id], [title], [author], [publish_date], [stock], [created_at], [deleted_at]) VALUES (3, N'To Kill a Mockingbird', N'Harper Lee', CAST(N'1960-07-11' AS Date), 5, CAST(N'2025-02-25T13:03:17.040' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Book] OFF
GO
SET IDENTITY_INSERT [dbo].[BookGenre] ON 

INSERT [dbo].[BookGenre] ([id], [book_id], [genre_id], [created_at], [deleted_at]) VALUES (1, 1, 1, CAST(N'2025-02-25T13:03:17.040' AS DateTime), NULL)
INSERT [dbo].[BookGenre] ([id], [book_id], [genre_id], [created_at], [deleted_at]) VALUES (2, 1, 2, CAST(N'2025-02-25T13:03:17.040' AS DateTime), NULL)
INSERT [dbo].[BookGenre] ([id], [book_id], [genre_id], [created_at], [deleted_at]) VALUES (3, 1, 5, CAST(N'2025-02-25T13:03:17.040' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[BookGenre] OFF
GO
SET IDENTITY_INSERT [dbo].[Borrowing] ON 

INSERT [dbo].[Borrowing] ([id], [member_id], [book_id], [borrow_date], [return_date], [fine], [created_at], [deleted_at]) VALUES (1, 18, 1, CAST(N'2024-04-08T00:00:00.000' AS DateTime), CAST(N'2024-04-15T00:00:00.000' AS DateTime), CAST(0.00 AS Decimal(10, 2)), CAST(N'2024-04-20T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[Borrowing] ([id], [member_id], [book_id], [borrow_date], [return_date], [fine], [created_at], [deleted_at]) VALUES (2, 18, 2, CAST(N'2024-03-15T00:00:00.000' AS DateTime), CAST(N'2025-02-25T00:00:00.000' AS DateTime), CAST(680000.00 AS Decimal(10, 2)), CAST(N'2024-04-20T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[Borrowing] ([id], [member_id], [book_id], [borrow_date], [return_date], [fine], [created_at], [deleted_at]) VALUES (3, 18, 3, CAST(N'2025-02-18T00:00:00.000' AS DateTime), CAST(N'2025-02-25T00:00:00.000' AS DateTime), NULL, CAST(N'2024-04-20T00:00:00.000' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Borrowing] OFF
GO
SET IDENTITY_INSERT [dbo].[Genre] ON 

INSERT [dbo].[Genre] ([id], [name], [created_at], [deleted_at]) VALUES (1, N'Action', CAST(N'2025-02-25T13:03:17.033' AS DateTime), NULL)
INSERT [dbo].[Genre] ([id], [name], [created_at], [deleted_at]) VALUES (2, N'Adventure', CAST(N'2025-02-25T13:03:17.037' AS DateTime), NULL)
INSERT [dbo].[Genre] ([id], [name], [created_at], [deleted_at]) VALUES (3, N'Childrens', CAST(N'2025-02-25T13:03:17.037' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Genre] OFF
GO
SET IDENTITY_INSERT [dbo].[Member] ON 

INSERT [dbo].[Member] ([id], [name], [email], [created_at], [deleted_at]) VALUES (1, N'Yvon Blackaller', N'yblackaller0@meetup.com', CAST(N'2023-11-30T00:00:00.000' AS DateTime), CAST(N'2023-12-13T00:00:00.000' AS DateTime))
INSERT [dbo].[Member] ([id], [name], [email], [created_at], [deleted_at]) VALUES (2, N'Cyrill McAnellye', N'cmcanellye1@marriott.com', CAST(N'2023-02-24T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[Member] ([id], [name], [email], [created_at], [deleted_at]) VALUES (3, N'Gussie Wattingham', N'gwattingham2@csmonitor.com', CAST(N'2024-03-25T00:00:00.000' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Member] OFF
GO
ALTER TABLE [dbo].[Book] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[BookGenre] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Genre] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Member] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[BookGenre]  WITH CHECK ADD FOREIGN KEY([book_id])
REFERENCES [dbo].[Book] ([id])
GO
ALTER TABLE [dbo].[BookGenre]  WITH CHECK ADD FOREIGN KEY([genre_id])
REFERENCES [dbo].[Genre] ([id])
GO
ALTER TABLE [dbo].[Borrowing]  WITH CHECK ADD FOREIGN KEY([book_id])
REFERENCES [dbo].[Book] ([id])
GO
ALTER TABLE [dbo].[Borrowing]  WITH CHECK ADD FOREIGN KEY([member_id])
REFERENCES [dbo].[Member] ([id])
GO
USE [master]
GO
