USE [master]
GO
/****** Object:  Database [EsemkaVote]    Script Date: 25/02/2025 12:49:21 ******/
CREATE DATABASE [EsemkaVote]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EsemkaVote', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\EsemkaVote.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EsemkaVote_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\EsemkaVote_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EsemkaVote].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EsemkaVote]
GO
/****** Object:  Table [dbo].[Division]    Script Date: 25/02/2025 12:49:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Division](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 25/02/2025 12:49:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[Photo] [varchar](50) NULL,
	[DivisionId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VotingCandidate]    Script Date: 25/02/2025 12:49:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VotingCandidate](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[VotingHeaderId] [int] NOT NULL,
	[EmployeeId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VotingDetail]    Script Date: 25/02/2025 12:49:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VotingDetail](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[VotedCandidateId] [int] NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[Reason] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VotingHeader]    Script Date: 25/02/2025 12:49:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VotingHeader](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Description] [varchar](200) NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Division] ON 

INSERT [dbo].[Division] ([Id], [Name]) VALUES (1, N'Frontend')
INSERT [dbo].[Division] ([Id], [Name]) VALUES (2, N'Backend')
INSERT [dbo].[Division] ([Id], [Name]) VALUES (3, N'UI/UX')
SET IDENTITY_INSERT [dbo].[Division] OFF
GO
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([Id], [Name], [Email], [Password], [Photo], [DivisionId]) VALUES (1, N'John Doe', N'john.doe@example.com', N'password1', NULL, 1)
INSERT [dbo].[Employee] ([Id], [Name], [Email], [Password], [Photo], [DivisionId]) VALUES (2, N'Jane Smith', N'jane.smith@example.com', N'password2', NULL, 2)
INSERT [dbo].[Employee] ([Id], [Name], [Email], [Password], [Photo], [DivisionId]) VALUES (3, N'Michael Johnson', N'michael.johnson@example.com', N'password3', NULL, 3)
SET IDENTITY_INSERT [dbo].[Employee] OFF
GO
SET IDENTITY_INSERT [dbo].[VotingCandidate] ON 

INSERT [dbo].[VotingCandidate] ([Id], [VotingHeaderId], [EmployeeId]) VALUES (1, 1, 4)
INSERT [dbo].[VotingCandidate] ([Id], [VotingHeaderId], [EmployeeId]) VALUES (2, 1, 5)
INSERT [dbo].[VotingCandidate] ([Id], [VotingHeaderId], [EmployeeId]) VALUES (3, 1, 8)
SET IDENTITY_INSERT [dbo].[VotingCandidate] OFF
GO
SET IDENTITY_INSERT [dbo].[VotingDetail] ON 

INSERT [dbo].[VotingDetail] ([Id], [VotedCandidateId], [EmployeeId], [Reason]) VALUES (1, 1, 1, N'She dedication to their work is unparalleled, consistently going above and beyond what is expected.')
INSERT [dbo].[VotingDetail] ([Id], [VotedCandidateId], [EmployeeId], [Reason]) VALUES (2, 1, 3, N'She demonstrate exceptional leadership skills, inspiring and guiding their colleagues to achieve their best.')
INSERT [dbo].[VotingDetail] ([Id], [VotedCandidateId], [EmployeeId], [Reason]) VALUES (3, 1, 5, N'Her strong work ethic serves as a shining example to the entire team.')
SET IDENTITY_INSERT [dbo].[VotingDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[VotingHeader] ON 

INSERT [dbo].[VotingHeader] ([Id], [Name], [Description], [StartDate], [EndDate]) VALUES (1, N'Best Employee 2022', N'Welcome to the Employee of the Year 2022 voting! Celebrate outstanding dedication and achievement by casting your vote for the most deserving nominee.', CAST(N'2022-01-01' AS Date), CAST(N'2023-01-01' AS Date))
INSERT [dbo].[VotingHeader] ([Id], [Name], [Description], [StartDate], [EndDate]) VALUES (2, N'Best Employee 2023', N'Welcome to the Employee of the Year 2023 voting! Celebrate outstanding dedication and achievement by casting your vote for the most deserving nominee.', CAST(N'2023-01-01' AS Date), CAST(N'2024-01-01' AS Date))
INSERT [dbo].[VotingHeader] ([Id], [Name], [Description], [StartDate], [EndDate]) VALUES (3, N'Best Employee 2024', N'Welcome to the Employee of the Year 2024 voting! Celebrate outstanding dedication and achievement by casting your vote for the most deserving nominee.', CAST(N'2024-01-01' AS Date), CAST(N'2025-01-01' AS Date))
SET IDENTITY_INSERT [dbo].[VotingHeader] OFF
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD FOREIGN KEY([DivisionId])
REFERENCES [dbo].[Division] ([Id])
GO
ALTER TABLE [dbo].[VotingCandidate]  WITH CHECK ADD FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employee] ([Id])
GO
ALTER TABLE [dbo].[VotingCandidate]  WITH CHECK ADD FOREIGN KEY([VotingHeaderId])
REFERENCES [dbo].[VotingHeader] ([Id])
GO
ALTER TABLE [dbo].[VotingDetail]  WITH CHECK ADD FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employee] ([Id])
GO
ALTER TABLE [dbo].[VotingDetail]  WITH CHECK ADD FOREIGN KEY([VotedCandidateId])
REFERENCES [dbo].[VotingCandidate] ([Id])
GO
USE [master]
GO
